<header>
    <h2>Avaliações</h2>
    <div class="inputs">
        <!--Unidades-->
        <div class="item-inputs">
            <label for="unidades">Unidades</label>
            <select name="unidades" id="unidades" class="unidades">
                <option value="unidade1">NOVO ELDORADO </option>
                <option value="unidade2">SAVASSI</option>
            </select>
        </div>
        <!--Profissionais-->
        <div class="item-inputs">
            <label for="profissionais">Profissionais</label>
            <select name="profissionais" id="profissionais" class="profissionais">
                <option value="profissional1">Fernanda</option>
                <option value="profissional2">Luana</option>
                <option value="profissional3">Roberta</option>
            </select>
        </div>
        <!--Periodo-->
        <div class="item-inputs mes-periodo">
            <label for="periodo">Período</label>
            <input class="periodo" type="button" value="Este Mês">
        </div>
    </div>
</header>